{% extends "BlogFrontendBundle::layout.html.twig" %}

{% block body %}
    <div id="app"></div>

	<script type="text/template" id="list-template">
    	<h2>Blog posts</h2>
	</script>

	<script type="text/template" id="list-item-template">
    	<div>
        	<a href="#view/<%= id %>"><%= title %></a>
	    </div>
	</script>

	<script type="text/template" id="post-template">
    	<div>
        	<h2><%= title %></h2>
	        <p><%= body %></p>
    	    <a href="#">Back<a/>
	    </div>
	</script>
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'prod' %}
        <script src="{{ asset('app/dist/main.js') }}"></script>
    {% else %}
        <script>var require = {urlArgs: 'bust=' + (new Date()).getTime()};</script>
        <script data-main="app/main" src="{{ asset('app/vendor/requirejs/require.js') }}"></script>
    {% endif %}
{% endblock %}
